# IntelliJ IDEA / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/

# Python virtual environments
.venv/
venv/
env/
ENV/
.venv-wsl
# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Python build / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Test / coverage artifacts
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Logs
*.log

# Jupyter notebooks
.ipynb_checkpoints/

# OS specific
.DS_Store
Thumbs.db
*~

#Project Specific
ProjectMatrix.md